* {
    padding: 0px;
    margin: 0px;
    list-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root {
    --dark-color: #000;
    --light-color: rgb(155, 155, 155);
    --letter-light: rgb(255, 255, 255);
    --body-color: rgb(46, 46, 46);
    --shadow-color: rgb(180, 180, 180) 0px 20px 30px -10px;
    --servic-color: #323232;
    --page-color: #8f6a03;
    --container-color: rgb(31, 30, 30);
    --gradiant-color: rgb(61, 61, 61);
    --gradiant2-color: rgb(80, 80, 80);
}

body {
    background-color: var(--body-color);
}

.devices {
    display: none;
}

.off {
    opacity: 0;
}

.nav {
    position: fixed;
    bottom: 10px;
    width: 90%;
    height: 40px;
    border-radius: 20px;
    z-index: 100;
}

.nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0px;
    z-index: 1;
}

.nav ul li {
    font-size: 13px;
}

.nav ul li i {
    color: var(--light-color);
}

.blur {
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(20px);
    background-color: var(--dark-color);
    transition: 1s;
}

.nav ul a {
    color: white;
    text-decoration: none !important;
    font-size: 2em;
}

#home {
    position: relative;
    width: 100%;
}

header {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0px;
    width: 100%;
    height: 100px;
    z-index: 5;
}

.logo {
    width: 24%;
    height: 90px;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header i {
    font-size: 2em;
    color: var(--light-color);
    margin-right: 30px;
    transition: 1s;
}

.galeria {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.galeria h2 {
    position: absolute;
    color: white;
    font-size: 3em;
    z-index: 50;
    width: 100%;
    height: 50px;
    top: 50%;
}

.divImg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    align-self: center;
}

.divImg img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    align-self: center;
}

.opacity {
    background-color: rgb(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
}

#services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px !important;
    width: 100%;
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px !important;
    width: 100%;
    opacity: 1;
    animation: up 1s 1;
}

h1 {
    color: var(--light-color);
    font-size: 2.4em;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.h1 {
    color: var(--light-color);
    font-size: 2.4em;
    margin-top: 30px;
    margin-bottom: 30px;
    animation: scale 1s 1;
}

@keyframes scale {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

h1 span {
    color: var(--page-color);
}

.serviceBox {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 20px;
    background-color: var(--servic-color);
    animation: up 1s 1;
}

@keyframes up {
    0% {
        transform: translateY(200px);
    }
    100% {
        transform: translateY(0px);
    }
}

.container {
    position: relative;
    font-family: sans-serif;
    background-color: var(--container-color);
    transform: scale(1);
    padding: 20px !important;
    border-radius: 20px;
    width: 325px;
    box-shadow: var(--dark-color) 2.95px 2.95px 9.6px;
}

.container i {
    font-size: 4em;
    color: var(--page-color);
}

.container::before,
.container::after {
    content: "";
    background-color: var(--page-color);
    position: absolute;
}

.container::before {
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    top: 27%;
    right: 7%;
    z-index: 0;
}

.container::after {
    content: "";
    position: absolute;
    height: 3rem;
    top: 8%;
    right: 5%;
    border: 1px var(--light-color) solid;
}

.container .box {
    width: 100%;
    height: 6.875em;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.074);
    border: 1px solid rgba(255, 255, 255, 0.222);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: .7rem;
    transition: all ease .3s;
}

.container .box .title {
    font-size: 1.7rem;
    font-weight: 500;
    letter-spacing: .1em;
    width: 100%;
    color: var(--light-color);
}

.container p {
    color: var(--light-color);
    margin-top: 30px;
}

.container .box div strong {
    display: block;
    margin-bottom: .5rem;
}

.container .box div p {
    margin: 0;
    font-size: .9em;
    font-weight: 300;
    letter-spacing: .1em;
}

.container .box div span {
    font-size: .7rem;
    font-weight: 300;
}

.container .box div span:nth-child(3) {
    font-weight: 500;
    margin-right: .2rem;
}

.container .box:hover {
    box-shadow: 0px 0px 20px 1px #ffbb763f;
    border: 1px solid rgba(255, 255, 255, 0.454);
}

#prices {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 15px;
    padding: 10px;
}

.pricesType {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 100%;
    padding: 15px;
    background-color: var(--container-color);
}

.pricesType .chooseService {
    color: var(--light-color);
    font-size: 18px;
    align-self: start;
    animation: up 1s 1;
}

.pricesType p {
    font-size: 18px;
    align-self: start;
    color: var(--light-color);
}

.pricesType h4 {
    align-self: start;
    font-size: 20px;
    color: var(--page-color);
    margin-left: 30px;
}

.pricesType pre {
    font-size: 30px;
    color: white;
}

#about {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    color: rgb(155, 155, 155);
    padding: 10px;
}

.info {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 7px;
    padding: 20px;
    width: 100%;
}

.aboutMe {
    text-align: center;
    font-size: 16px;
    animation: up 1s 1;
    width: 350px !important;
    color: var(--light-color);
}

.calification {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: up 1s 1;
}

.info p {
    font-size: 13px;
    width: 100%;
    color: var(--light-color);
}

#about button {
    padding: 9px;
    width: 230px;
    border-radius: 14px;
    background-color: var(--page-color);
    color: white;
    font-size: 15px;
}

.img {
    position: relative;
    width: 80%;
    height: 300px;
    background-color: gray;
    background: linear-gradient( var(--gradiant-color), var(--gradiant2-color));
    box-shadow: rgba(192, 192, 192, 0.12) 0px 2px 4px 0px, rgba(172, 172, 172, 0.32) 0px 2px 16px 0px;
    animation: up 1s 1;
}

.img::after {
    content: "Marelin Zick Soy Tu solucion!";
    position: relative;
    left: 5%;
    width: 100%;
    height: 100%;
    background-color: gray;
    color: rgb(36, 36, 36);
    padding: 20px;
}

.img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    padding: 15px;
    gap: 20px;
    margin-top: 20px;
    animation: up 1s 1;
}

.testimonials {
    animation: up 1s 1;
}

.testimonialsFull {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    padding: 15px;
    gap: 20px;
    margin-top: 20px;
    animation: up 1s 1;
}

.testimonialsCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    width: 325px;
    height: 300px;
    padding: 20px;
    background-color: var(--container-color);
    box-shadow: rgba(223, 223, 223, 0.15) 0px 3px 3px 0px;
}

.testimonialsCard p {
    color: var(--light-color);
    font-size: 14px;
    align-self: start;
}

.client {
    display: flex;
    gap: 20px;
    padding: 3px;
    width: 100%;
    height: 65px;
}

.client .clientImg {
    width: 20%;
    height: 100%;
    border-radius: 100%;
    overflow: hidden;
}

.client img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.clientName {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
}

.clientName strong {
    font-size: 16px;
    color: var(--page-color);
}

.clientName p {
    font-size: 14px;
    color: rgb(136, 136, 136);
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    align-items: center;
    padding: 15px;
    gap: 20px;
    margin-top: 20px;
    color: var(--light-color);
}

#contact span {
    color: var(--page-color);
}

#contact .fill {
    animation: up 1s 1;
}

#contact form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    padding: 5px;
}

#contact input,
textarea {
    padding: 20px;
    background-color: var(--container-color);
    border: none;
    border-bottom: 2px solid var(--page-color);
}

#contact button {
    border-radius: 5px;
    width: 30%;
    background-color: var(--page-color);
    padding: 13px;
    color: white;
    align-self: center;
    margin-top: 20px;
}

#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
}

.footerDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#footer span {
    font-size: 16px;
    width: 100%;
    text-align: center;
    color: var(--page-color);
}

#footer p {
    width: 100%;
    text-align: center;
    color: rgb(136, 136, 136);
}